@use "../abstracts" as *;
@use "../base" as *;

section.sectGears {
    transition: opacity 1.3s ease-in-out;
}

section.hiddenPages {

    section {
        visibility: hidden;
        position: absolute;
        height: 85vh;
        width: 80vw;
        z-index: 12;
        bottom: -90vh;
        left: 10vw;
        background-color: var(--primary-3);
        flex-direction: column;
        align-items: center;
        display: flex;
        border-top-right-radius: 11px;
        border-top-left-radius: 11px;
        transition: all .7s ease-in-out;

        &.active {
            visibility: visible;
            bottom: 0;
        }

        &.grow {
            bottom: 0;
            height: 95vh;
            width: 94vw;
            left: 3vw;
            border-radius: 5px;
        }

        div.content {
            display: flex;
            height: 100%;
            width: 100%;
            margin-top: 10px;
        }

        h1 {
            font-size: x-large;
            color: var(--primary-2);
            pointer-events: none;
        }

        @for $i from 1 through 4 {

            &.page#{$i} {

                div.separator {
                    padding: 3px 30% 3px 30%;
                    background-color: var(--secondary-#{$i});
                    border-radius: 10px;
                }
            }
        }

        ul.nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 20px;
            padding: 0;

            li.grow {
                margin: 7px 11px 7px 11px;
                padding: 11px;
                border-radius: 100%;
                background-color: green;
                transition: all .15s ease-in-out;

                &:hover {
                    box-shadow:
                        0 0 8px green,
                        inset 0 0 8px green,
                        0 0 16px #2eff27,
                        inset 0 0 16px #1aff12,
                        0 0 32px #5eff59,
                        inset 0 0 32px #43f33d,
                }
            }

            li.closer {
                margin: 7px 11px 7px 11px;
                padding: 11px;
                border-radius: 100%;
                background-color: red;
                transition: all .15s ease-in-out;

                &:hover {
                    box-shadow:
                        0 0 8px rgb(255, 77, 77),
                        inset 0 0 8px rgb(255, 90, 90),
                        0 0 16px #ff4848,
                        inset 0 0 16px #ff6d6d,
                        0 0 32px #ff1d1d,
                        inset 0 0 32px #ff1010;
                }
            }
        }
    }

    section.myContacts {

        div.content {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            ul {
                display: flex;
                flex-direction: row;

                li {
                    --lengh-svg: calc(5vw + 50px);

                    svg {
                        fill: var(--primary-2);
                        margin: calc(2vw + 10px);
                        transition: all .3s ease-in-out;

                        &:hover {
                            transform: scale(1.05);
                        }
                    }

                    &.instagram {

                        svg {
                            height: var(--lengh-svg);
                            width: var(--lengh-svg);

                            &:hover {
                                fill: rgb(255, 134, 134);
                            }
                        }
                    }

                    &.linkedin {

                        svg {
                            height: calc(5vw + 26px);
                            width: calc(5vw + 26px);
                            position: relative;
                            top: 11px;

                            &:hover {
                                fill: rgb(237, 235, 97);
                            }
                        }
                    }

                    &.mail {

                        svg {
                            height: var(--lengh-svg);
                            width: var(--lengh-svg);

                            &:hover {
                                fill: lightgreen;
                            }
                        }
                    }

                    &.discord {

                        svg {
                            height: var(--lengh-svg);
                            width: var(--lengh-svg);

                            &:hover {
                                fill: rgb(124, 124, 255);
                            }
                        }
                    }
                }
            }
        }

        h1 {
            position: relative;
            top: 15vh;
            font-size: xx-large;
        }
    }

    section.myCompetences {

        div.content {
            flex-direction: column;
            align-items: center;
            padding-top: 20px;

            ul {
                display: flex;
                flex-direction: row;
                justify-self: flex-end;
                margin: 0 2vw 0 2vw;

                li {
                    --space-btwn: calc(1vw + 10px);
                    color: var(--primary-2);
                    font-size: x-large;
                    margin: 0 var(--space-btwn) 0 var(--space-btwn);
                    transition: all .3s ease-in-out;
                    opacity: 0.8;
                    cursor: pointer;

                    &.selected {
                        animation: fade .3s ease-in-out;
                        font-weight: bold;
                        opacity: 1;
                    }
                }
            }

            section {
                margin-top: 30px;
                visibility: visible;
                position: relative;
                bottom: 0;
                left: 0;
                width: 90%;

                &.about {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    span {
                        position: relative;
                        bottom: 13vh;

                        p {
                            color: var(--primary-2);
                            font-size: large;
                            text-align: justify;
                        }
                    }

                    img {
                        height: 20vw;
                        width: 20vw;
                        padding: 20px 2vw 20px 2vw;
                        margin-left: 6vw;
                        opacity: 0.9;
                        transition: all .5s ease-in-out;
                        position: relative;
                        bottom: 10vh;
                    }
                }

                &.skills {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 10px;
                    grid-template-rows: minmax(2, 1fr);
                    width: 90%;
                    height: 70%;

                    div {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        margin: 1vh;

                        &.languages {
                            grid-column: 1;
                            grid-row: 1;
                        }

                        &.softwares {
                            grid-column: 2;
                            grid-row: 2;
                        }

                        &.environnement {
                            grid-column: 2;
                            grid-row: 1;
                        }

                        &.repositories {
                            grid-column: 1;
                            grid-row: 2;
                        }
                    }

                    img {
                        height: calc(25px + .5vw);
                        width: auto;
                        margin: 7px;
                        transition: all .3s ease-in-out;
                        border-radius: 5px;

                        &.dark {
                            border: 2px solid grey;
                        }

                        &:hover {
                            transform: scale(1.05);
                        }
                    }                    
                }

                &.cv {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    top: 5vw;

                    img.imgCv {
                        height: 40vw;
                        padding: 20px 2vw 20px 2vw;
                        margin: 50px 0 50px 0;
                    }   

                    button.download {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 5px 1vw 5px 1vw;
                        background-color: var(--download);
                        border: none;
                        border-radius: 5px;

                        img {
                            height: 40px;
                            width: 40px;
                            margin-right: 10px;
                        }

                        p {
                            font-size: large;
                            color: var(--primary-1);
                        }
                    }
                }
            }
        }
    }

    section.myProjects {

        > div.scroll {
            overflow-y: scroll;
            overflow-x: hidden;
        }

        &.selected {
            > div.scroll {
                overflow:hidden;
                height: 100%;
                width: 90%;
            }
        }
        
        li.rewind {
            height: 0px;
            width: 0px;
            border-radius: 50%;
            background-color: rgb(255, 183, 0);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: all .15s ease-in-out;

            &.visible {
                height: 22px;
                width: 22px;
                margin: 0 11px 0 11px;
                visibility: visible;
                opacity: 1;
                pointer-events: all;
            }

            &:hover {
                box-shadow:
                    0 0 8px rgb(255, 193, 77),
                    inset 0 0 8px rgb(255, 211, 90),
                    0 0 16px #ffe048,
                    inset 0 0 16px #ffdf6d,
                    0 0 32px #ffc71d,
                    inset 0 0 32px #ffc710;
            }
        }

        h1.title {
            visibility: visible;
            opacity: 1;
            position: relative;
            transition: fade .4s ease-in-out;
            display: block;
            margin-bottom: 30px;

            &.hide {
                position: inherit;
                opacity: 0;
                visibility: hidden;
                display: none;
            }
        }

        div.content {
            justify-content: center;
            position: relative;
            top: 3%;
            height: 40vh;

            p {
                color: var(--primary-1);
                text-align: justify;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
            }
            
            div {
                --space: 3px;
                --nbrOfProjects: 6;

                height: 30vh;
                width: calc( 100% / var(--nbrOfProjects));
                border-radius: 15px;
                margin: 0 calc( var(--space) / 2) 0 calc( var(--space) / 2);
                transition: transform .4s ease-in-out, fade .4s ease-in, height .4s ease-in-out, width .4s ease-in-out, box-shadow .4s ease-in-out;
                z-index: 4;
                position: relative;
                background-size: 80%;
                background-repeat: no-repeat;
                background-position: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 60px;

                @for $k from 1 through 4 {
                    
                    @if $k % 2 == 0 {
                        &.project#{$k} {
                            background-color: var(--project-1);
                        }
                    } @else {
                        &.project#{$k} {
                            background-color: var(--project-2);
                        }
                    }
                }

                &.project1 {
                    background-image: url(../../ressources/projects/logoMazzy.png);
                }

                &.project2 {
                    background-image: url(../../ressources/projects/my-blop.svg);
                }

                &.project3 {
                    background-image: url(../../ressources/projects/velovify.svg);
                }

                &.project4 {
                    background-image: url(../../ressources/projects/matrix.svg);
                }

                &.project1, &.project4 {
                    background-size: 45%;
                }

                &.project2 {
                    background-size: 90%;
                }

                &.hovered {
                    transform: scale(1.25);
                    width: 30%;
                    z-index: 6;
                    background-size: cover;
                    background-size: 0;
                    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.492), 0 20px 20px rgba(0, 0, 0, 0.629);

                    h2 {
                        visibility: visible;
                        transition: all .5s ease-in-out;
                        opacity: 1;
                    }

                    p {
                        transition: all .5s ease-in-out;
                        visibility: visible;
                        opacity: 1;
                    }
                }

                &.side {
                    transform: scale(1.12);
                    z-index: 5;
                    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.468), 0 10px 10px rgba(0, 0, 0, 0.534);
                }

                &.space {
                    width: 5%;

                    &.hide {
                        display: none;
                    }
                }

                &.selected {
                    width: 100%;
                    height: 100%;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    background-size: 0;
                    margin-bottom: 0;

                    h2 {
                        visibility: visible;
                        transition: all .5s ease-in-out;
                        opacity: 1;
                    }

                    h3 {
                        text-align: left;
                        margin-left: 30px;
                    }

                    p {
                        transition: all .5s ease-in-out;
                        visibility: visible;
                        opacity: 1;
                        margin : 0 0 20px 0;
                    }
                    
                    div.project-content {
                        opacity: 1;
                        visibility: visible;
                        display: flex;
                        flex-direction: row;
                        height: 100%;
                        width: 100%;
                        align-items: start;
                        justify-content: center;

                        img.proj {
                            max-height: 60%;
                            max-width: 60%;
                            border-radius: 6px;
                            margin: 10px;
                        }

                        article {

                            h3 {
                                line-height: .5;
                            }

                            p {
                                line-height: 1.2;
                            }
                        }

                        div.content-right {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 60%;
                            position: relative;
                            top: 110px;

                            div.links {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-around;

                                button {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: var(--download);
                                    border: none;
                                    border-radius: 5px;
                                    width: 190px;
                                    margin: 20px;
                                    padding: 10px;

                                    img {
                                        height: 30px;
                                        width: 30px;
                                    }
            
                                    p {
                                        font-size: large;
                                        color: var(--primary-1);
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                &.hide {
                    display: none;
                    opacity: 0;
                    visibility: hidden;
                }

                h2 {
                    visibility: hidden;
                    opacity: 0;
                }

                p {
                    visibility: hidden;
                    opacity: 0;
                    padding: 0 30px 0 30px;
                    text-align: left;
                }

                div.project-content {
                    opacity: 0;
                    visibility: hidden;
                    transition: fade .4s ease-in-out;
                    display: none;
                }
            }
        }

        div.content-pointed, div.content-garbage {

            &.invisible {
                display: none;
            }

            &.visible {
                display: flex;
                height: 100%;
            }
        }

        div.all-projects {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            width: 100%;

            div {
                --space: 2px;
                --nbrOfProjects: 5;

                height: 25vh;
                width: 40vw;
                border-radius: 15px;
                margin: 0 calc( var(--space) / 2) 0 calc( var(--space) / 2);
                transition: transform .4s ease-in-out, fade .4s ease-in, height .4s ease-in-out, width .4s ease-in-out, box-shadow .4s ease-in-out;
                z-index: 4;
                position: relative;
                background-size: 40%;
                background-repeat: no-repeat;
                background-position: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 60px;

                @for $k from 5 through 11 {
                    
                    @if $k % 2 == 0 {
                        &.project#{$k} {
                            background-color: var(--project-1);
                        }
                    } @else {
                        &.project#{$k} {
                            background-color: var(--project-2);
                        }
                    }
                }
        
                &.project5 {
                    background-image: url(../../ressources/projects/grama.svg);
                }

                &.project6 {
                    background-image: url(../../ressources/projects/logoIut.png);
                }

                &.project7 {
                    background-image: url(../../ressources/projects/DirectoryAdministrator.svg);
                }

                &.project8 {
                    background-image: url(../../ressources/projects/NameGen.png);
                }

                &.project9 {
                    background-image: url(../../ressources/projects/bot-velov.svg);
                }

                &.project10 {
                    background-image: url(../../ressources/projects/sab.svg);
                }

                &.project11 {
                    background-image: url(../../ressources/competences.svg);
                }

                &.project9, &.project8 {
                    background-size: 30%;
                }

                &.project7 {
                    background-size: 25%;
                }

                &.project10 {
                    background-size: 20%;
                }

                &.project11 {
                    background-size: 20%;
                }

                &.hovered {
                    transform: scale(1.25);
                    width: 45vw;
                    z-index: 6;
                    background-size: cover;
                    background-size: 0;
                    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.492), 0 20px 20px rgba(0, 0, 0, 0.629);

                    h2 {
                        visibility: visible;
                        transition: all .5s ease-in-out;
                        opacity: 1;
                    }

                    p {
                        transition: all .5s ease-in-out;
                        visibility: visible;
                        opacity: 1;
                    }
                }

                &.side {
                    transform: scale(1.12);
                    z-index: 5;
                    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.468), 0 10px 10px rgba(0, 0, 0, 0.534);
                }

                &.space {
                    width: 5%;
                }

                &.selected {
                    width: 100%;
                    height: 100%;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    background-size: 0;
                    margin-bottom: 0;

                    h2 {
                        visibility: visible;
                        transition: all .5s ease-in-out;
                        opacity: 1;
                    }

                    h3 {
                        text-align: left;
                        margin-left: 30px;
                    }

                    p {
                        transition: all .5s ease-in-out;
                        visibility: visible;
                        opacity: 1;
                        margin : 0 0 20px 0;
                    }
                    
                    div.project-content {
                        opacity: 1;
                        visibility: visible;
                        display: flex;
                        flex-direction: row;
                        height: 100%;
                        width: 100%;
                        align-items: start;
                        justify-content: center;

                        img.proj {
                            max-height: 60%;
                            max-width: 60%;
                            border-radius: 6px;
                            margin: 10px;
                        }

                        article {

                            h3 {
                                line-height: .5;
                            }

                            p {
                                line-height: 1.2;
                            }
                        }

                        div.content-right {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 60%;
                            position: relative;
                            top: 110px;

                            div.links {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-around;

                                button {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: var(--download);
                                    border: none;
                                    border-radius: 5px;
                                    width: 190px;
                                    margin: 20px;
                                    padding: 10px;

                                    img {
                                        height: 30px;
                                        width: 30px;
                                    }
            
                                    p {
                                        font-size: large;
                                        color: var(--primary-1);
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                &.hide {
                    display: none;
                    opacity: 0;
                    visibility: hidden;
                }

                h2 {
                    visibility: hidden;
                    opacity: 0;
                }

                p {
                    visibility: hidden;
                    opacity: 0;
                    padding: 0 30px 0 30px;
                    text-align: left;
                }

                div.project-content {
                    opacity: 0;
                    visibility: hidden;
                    transition: fade .4s ease-in-out;
                }
            }
        }
    }

    section.spotifyAlpha {
       
        div.content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            scroll-behavior: smooth;
            overflow-y: scroll;

            div.card {
                padding: 20px;
                margin: 30px;
                width: 300px;
                border-radius: 5px;

                p {
                    text-align: justify;
                }

                &.bg-1 {
                    background-color: var(--project-1);
                }

                &.bg-2 {
                    background-color: var(--project-2);
                }
            }
        }
    }
}